GNM1001__gene2	PF00668.20	Condensation	Condensation domain
GNM1001__gene3	PF00668.20	Condensation	Condensation domain
GNM1001__gene4	PF00668.20	Condensation	Condensation domain
GNM1001__gene4	PF00501.28	AMP-binding	AMP-binding enzyme
GNM1001__gene4	PF00550.25	PP-binding	Phosphopantetheine attachment site
GNM1001__gene4	PF13193.6	AMP-binding_C	AMP-binding enzyme C-terminal domain
GNM1001__gene4	PF07878.11	RHH_5	CopG-like RHH_1 or ribbon-helix-helix domain, RHH_5
GNM1001__gene4	PF06084.11	Cytomega_TRL10	Cytomegalovirus TRL10 protein
GNM1001__gene5	PF03621.13	MbtH	MbtH-like protein
GNM1001__gene7	PF01695.17	IstB_IS21	IstB-like ATP binding protein
