GNM1001__gene4	TIGR01733	AA-adenyl-dom: amino acid adenylation domain
GNM1001__gene4	TIGR03443	alpha_am_amid: L-aminoadipate-semialdehyde dehydrogenase
GNM1001__gene4	TIGR01734	D-ala-DACP-lig: D-alanine--poly(phosphoribitol) ligase, subunit 1
GNM1001__gene4	TIGR03098	ligase_PEP_1: acyl-CoA ligase (AMP-forming), exosortase A-associated
GNM1001__gene4	TIGR01923	menE: O-succinylbenzoate-CoA ligase
GNM1001__gene4	TIGR02262	benz_CoA_lig: benzoate-CoA ligase family
GNM1001__gene24	TIGR04416	group_II_RT_mat: group II intron reverse transcriptase/maturase
GNM1001__gene31	TIGR04416	group_II_RT_mat: group II intron reverse transcriptase/maturase
GNM1001__gene39	TIGR01733	AA-adenyl-dom: amino acid adenylation domain
GNM1001__gene40	TIGR01733	AA-adenyl-dom: amino acid adenylation domain
